<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bear Trainer Deluxe 2.0</title>
    <link rel="stylesheet" href="style.css">
	  <link rel="icon" type="image/png" href="img/icon.png">
  </head>
  <body>
    <div class="main-wrapper">
      <h1 onclick="showPanel('title-panel')">Bear Trainer Deluxe 2.0</h1>

      <div class="interval-button-container">
        <% var intvlNames = [0, 'm2','M2','m3','M3','P4','tri','P5','m6','M6','m7','M7','8'];
        for(var i = 1; i < 13; i++) { %>
            <div class="interval-button" id="b<%= i %>" onclick="checkInput(<%= i %>, this)"><btntxt><%= intvlNames[i] %></btntxt></div>
        <% } %>
      </div>

      <div id="go-button" class="go-button button" onclick="action()"><btntxt id="go-text">GO</btntxt></div>

      <div id="int-ind">.</div>
    </div>

    <p id="log-button" onclick="showPanel('user-info-panel')">
      <% if (user) { %>
        log out
      <% } else { %>
        log in
      <% } %>
    </p>

    <div id="stats-corner" class="removed">
      <p><c id="sesWins"></c>/<c id="sesAttempts"></c></p>
      <p>streak: <c id="streak">0</c></p>
    </div>

    <div id="options-button" class="button" onclick="showPanel('info-panel')">~</div>

    <div id="panel-backing" class="removed"></div>

    <div id="title-panel" class="removed">
      <div class="title-panel-box">
        <h5>now with the ability to<br>train both of your bears</h5>
        <h5>AT</h5>
        <h5>THE</h5>
        <h5>SAME</h5>
        <h5>TIME</h5>
        <img id="bear" src="img/b0.png">
        <div class="text-button return-button" onclick="closePanel()">return</div>
        <p style="font-size:14px">s u b l i m i n a l d u c k s a t g m a i l d o t c o m</p>
      </div>
    </div>

    <div id="user-info-panel" class="removed">
      <% if (user) { %>
        <p>signed in as:</p>
        <br>
        <h3 id="userName"><%= user.username %></h3>
        <br>
        <br>
        <div class="text-button" onclick="signOut()">sign out</div>
        <br>
        <br>
        <div class="text-button return-button" onclick="closePanel()">return</div>
      <% } else { %>
        <h3 id="loginError"></h3>
        <input id="nameInput" type="text" placeholder="name">
        <br>
        <input id="passInput" type="password" placeholder="password">
        <br>
        <br>
        <div class="text-button" onclick="sign('in')">sign in</div>
        <br>
        <div class="text-button" onclick="sign('up')">sign up</div>
        <br>
        <br>
        <div class="text-button return-button" onclick="closePanel()">return</div>
      <% } %>
    </div>

    <div id="stats-panel" class="removed">
      <div class="panel-button-box">
        <div class="text-button" onclick="showPanel('info-panel')">info</div>
        <h2>stats</h2>
        <div class="text-button" onclick="showPanel('options-panel')">options</div>
      </div>
      <div class="stats-box-box-box">
        <div class="stat-summary">
          <% if (user) {
            var correct = 0;
            var attempts = 0;
            for(var i= -12; i< 13; i++) {
              if (i !== 0) {
                correct += user['interval' + i]['wins'];
                attempts += user['interval' + i]['attempts'];
              }
            }
            var accuracy = 0;
            if (attempts !== 0) {
              accuracy = Math.round(correct/attempts * 100);
            } %>
            <p>All Time:</p><br>
            <p>correct: <c id="allTimeWins"><%= correct %></c></p><br>
            <p>attempts: <c id="allTimeAttempts"><%= attempts %></c></p><br>
            <p>accuracy: <c id="accuracy"><%= accuracy %></c>%</p><br>

          <% } else { %>
            <p>sign in to<br>collect<br>"all time"<br>stats</p>
          <% } %>
        </div>
        <div class="stats-box-box">
          <div class="stats-box">
            <p class="stat-titles">now:</p>
            <div class="ascending">
              <p class="stat-collumn-title">asc.</p>
              <% for(var i= 1; i< 13; i++) { %>
                  <p><%= intvlNames[i] %>: <c id="sesWins<%= i %>">0</c>/<c id="sesAttempts<%= i %>">0</c></p>
              <% } %>
            </div>
            <div class="descending">
              <p class="stat-collumn-title">des.</p>
              <% for(var i= 1; i< 13; i++) { %>
                  <p><%= intvlNames[i] %>: <c id="sesWins-<%= i %>">0</c>/<c id="sesAttempts-<%= i %>">0</c></p>
                <% } %>
            </div>
          </div>
          <% if (user) { %>
            <div class="stats-box">
              <p class="stat-titles">all<br>time:</p>
              <div class="ascending">
                <p class="stat-collumn-title">asc.</p>
                  <% for(var i= 1; i< 13; i++) { %>
                    <p><%= intvlNames[i] %>: <c id="allWins<%= i %>"><%= user['interval' + i]['wins'] %></c>/<c id="allAttempts<%= i %>"><%= user['interval' + i]['attempts'] %></c></p>
                  <% } %>
              </div>
              <div class="descending">
                <p class="stat-collumn-title">des.</p>
                  <% for(var i= 1; i< 13; i++) { %>
                    <p><%= intvlNames[i] %>: <c id="allWins-<%= i %>"><%= user['interval-' + i]['wins'] %></c>/<c id="allAttempts-<%= i %>"><%= user['interval-' + i]['attempts'] %></c></p>
                  <% } %>
              </div>
            </div>
          <% } %>
        </div>
      </div>
      <div class="text-button return-button" onclick="closePanel('stats-panel')">return</div>
    </div>

    <div id="options-panel" class="removed">
      <div class="panel-button-box">
        <div class="text-button" onclick="showPanel('stats-panel')">stats</div>
        <h2>options</h2>
        <div class="text-button" onclick="showPanel('info-panel')">info</div>
      </div>
      <div class="options-box">
        <div class="active-intervals">
          <h3>active intervals:</h3>
          <div class="top-strip">
            <h4>ascending</h4>
            <div class="top-strip-button" onclick="toggleAll(this)">none</div>
          </div>
          <div class="interval-selector">
            <% for(var i= 1; i< 13; i++) {
              %> <div id="sb<%= i %>" class="selector-button" onclick="toggleInterval(this, <%= i %>)"><btntxt> <%= intvlNames[i] %> </btntxt></div> <%
            } %>
          </div>
          <h4>descending</h4>
          <div class="interval-selector">
            <% for(var i= -1; i> -13; i--) {
              %> <div id="sb<%= i %>" class="selector-button" onclick="toggleInterval(this, <%= i %>)"><btntxt> <%= intvlNames[-i] %> </btntxt></div> <%
            } %>
          </div>
        </div>
        <div class="other-options-box">
          <div class="meters-box">
            <div class="volume-controls">
              <div>volume:</div>
              <knob id="volumeDownKnob" onclick="volumeAdjust(-1)"><</knob>
              <knob id="volumeMeter" onclick="volumeAdjust(0)">5</knob>
              <knob id="volumeUpKnob" onclick="volumeAdjust(1)">></knob>
            </div>
            <div class="speed-controls">
              <div>speed:</div>
              <knob id="speedDownKnob" onclick="speedAdjust(-1)"><</knob>
              <knob id="speedMeter" onclick="speedAdjust(0)">5</knob>
              <knob id="speedUpKnob" onclick="speedAdjust(1)">></knob>
            </div>
          </div>
          <div class="per-prompt-controls">
            <div>intervals per prompt:</div>
            <knob id="perPromptDownKnob" onclick="perPromptAdjust(-1)"><</knob>
            <knob id="perPromptMeter">2</knob>
            <knob id="perPromptUpKnob" onclick="perPromptAdjust(1)">></knob>
          </div>
          <div id="autoplay" class="autoplay-option-button disabled" onclick="toggleAutoPlay(this)">autoplay next</div>
          <div class="text-button return-button" onclick="closePanel('options-panel')">return</div>
        </div>
      </div>
    </div>

    <div id="info-panel" class="removed">
      <div class="panel-button-box">
        <div class="text-button" onclick="showPanel('options-panel')">options</div>
        <h2>info</h2>
        <div class="text-button" onclick="showPanel('stats-panel')">stats</div>
      </div>
      <div class="info-text-box">
        <p class="info-text">
          spacebar = go
          <br><br>
          options are sticky if you allow cookies
          <br><br>
          if you're new here:<br>
          <br>
          pick any two intervals<br>
          just work on those to start with<br>
          once you have the hang of them, try adding a third. and so on.<br>
          ("options", top of this screen)<br>
          <br>
          if you don't know what the labels on the buttons mean:<br>
          don't worry too much about it
          <br><br>
          when you look at the the flapping thing with the feathers and beak and go "bird" it doesn't super matter why the word "bird". what exactly the term is isn't as important as there being a general consensus on some term or another. there probably is some etymology or whatever on the origin of the “bird” but that information is irrelevant to the actual usage of the word to communicate.
          <br><br>
          the most commonly accepted term for an M3 interval is M3, which is why we're calling it that instead of "bird interval"
          <br><br>
          if "M3" does not currently mean anything to you, then this game is precisely for you. Soon you will be able to hear two notes and go "ah yes, that is(or isn't) an M3"
          <br><br>
          think of this game as the pack of little plastic animals you had when you were 3.
          <br>
          learn all their names quick, we must impress mother!
          <br><br>
          anyway, have
          <a href="https://en.wikipedia.org/wiki/Interval_(music)">some</a>
          <a href="https://en.wikipedia.org/wiki/Ear_training#Interval_recognition">wiki</a>
          <br><br>
          <3
          <br>
        </p>
      </div>
      <div class="text-button return-button" onclick="closePanel('info-panel')">return</div>
    </div>
    <script src="howler.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
